
/*------------------- DASHBOARD ---------------------*/ 

* {
    margin: 0; 
    padding: 0; 
    height: fit-content; 
    overflow: hidden;
    // outline: none; 
}
body {
    // margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */ 

.header h1 {
    font-size: 24px; 
    color: $green; 
}

.header h1.page {
    color: black; 
}

.header {
    grid-area: header; 
    display: flex; 
    justify-content: space-between;
    padding: 20px 0 20px 0;  
}


/* DASHBOARD CONTAINER */ 

.dashboard-container{
    display: grid; 
    // height: 95vh;  
    min-height: 100%; 
    gap: 55px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: autofill;
    grid-template-rows: 70px 0.25fr 0.25fr 0.25fr 0.25fr; 
    grid-template-areas: 
    "header header header"
    "calendar monthly-budget tips"
    "calendar lists lists"
    "stats lists lists"
    "stats lists lists"; 

    margin: 0px 40px 0px 105px;
}


/* SIDEBAR */ 

ul {
    list-style-type: none;
    margin: 0; 
    padding: 0; 

}

.links li {
    padding: 20px 0;  
    font-size: 18px;
}

i {
    padding:  10px 0; 
}

i.fa-solid {
    size: 15px;
}

a {
    color: white; 
    text-decoration: none; 
    border: none; 
}

.create-account a {
    color: rgb(68, 133, 218); 
}


.navbar {
    background: $green; 
    height: 100%;
    width: 70px; 
    display: flex; 
    justify-content: center;
    align-items: flex-start;
    color: white; 
    font-size: 24px; 
    position: fixed; 
    margin: 0; 
    // display: grid;
    // grid-area: sidebar; 
}

button {
    background-color: transparent;
    border: none;
}

/* ------------------- RESPONSIVE DESIGN ------------------*/ 

@media screen and (max-width: 992px) {
    .dashboard-container{
        display: grid; 
        height: 95vh;  
        // min-height: 100%; 
        gap: 55px;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: autofill;
        grid-template-rows: 70px 0.25fr 0.25fr 0.25fr 0.50fr; 
        grid-template-areas: 
        "header header"
        "monthly-budget stats"
        "tips stats"
        "calendar lists"
        "calendar lists";
    
        margin: 0px 40px 0px 105px;
    }

    * {
        margin: 0; 
        padding: 0; 
        // height: fit-content; 
        overflow: visible;
        // outline: none; 
    }
}

@media screen and (max-width:768px) {
    .dashboard-container{
        display: grid; 
        height: 100vh;
        gap: 55px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "header"
        "monthly-budget"
        "stats"
        "tips"
        "lists"
        "calendar";
    
        margin: 0; 
        padding: 0 10px; 
    }

    * {
        overflow: visible;
    }

    * html body {
        overflow: visible;
        font-size: 16px; 
    }


    .navbar {
        position: static;
        height: 140px;
        width: 100%; 
        display: flex; 
        justify-content: center;
        align-items: flex-start;
        color: white; 
        font-size: 16px; 
        margin: auto; 
    }

    // .header {
    //     display: flex; 
    //     justify-content: space-between;
    //     align-items: center;
    //     background-color: $green;
    // } 

    info .stat1 .stat2 .stat3 {
        border-radius: 0px;
    }

    .calendar {
        grid-area: calendar;
        display: grid;
        // height: 100%;
        // width: 100%;
        height: fit-content;
        width: fit-content; 
        // border-radius: 30px;
        // padding: 20px;
        position: relative;
        overflow: hidden;
        transform: scale(1.5);
        padding: 10px; 
    }
}

@media screen and (max-width: 576px) {
    .dashboard-container{
        display: grid; 
        height: 100vh;
        gap: 55px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "header"
        "monthly-budget"
        "stats"
        "tips"
        "lists"
        "calendar";
        margin: 0; 
        padding: 0 10px; 
    }

    * html body {
        overflow: visible;
        font-size: 16px; 
    }


    .navbar, ul {
        position: relative;
        background: $green; 
        height: 140px;
        width: 100%; 
        display: flex; 
        justify-content: center;
        align-items: flex-start;
        color: white; 
        font-size: 16px; 
        margin: auto; 
    }

    .header {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    } 

    .header h1 {
        display: inline-block;
    }

    info .stat1 .stat2 .stat3 {
        border-radius: 0px;
    }

    .calendar {
        grid-area: calendar;
        display: grid;
        // height: 100%;
        // width: 100%;
        height: fit-content;
        width: fit-content; 
        // border-radius: 30px;
        // padding: 20px;
        position: relative;
        overflow: hidden;
        transform: scale(1.5);
        padding: 10px; 
    }
}

@media screen and (max-width: 375px) {
    .dashboard-container{
        display: grid; 
        height: 100vh;
        width: 100vh;
        gap: 55px;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr; 
        grid-template-areas: 
        "header"
        "monthly-budget"
        "stats"
        "tips"
        "lists"
        "calendar";
        margin: 0; 
        padding: 0 10px; 
    }

    * html body {
        overflow: visible;
        font-size: 16px; 
    }


    .navbar, ul {
        position: relative;
        background: $green; 
        height: 70px;
        width: 100%; 
        display: flex; 
        justify-content: center;
        align-items: flex-start;
        color: white; 
        font-size: 16px; 
        margin: auto; 
    }

    .header {
        display: flex; 
        justify-content: space-between;
        align-items: center;
    } 

    .header h1 {
        display: inline-block;
    }

    info .stat1 .stat2 .stat3 {
        border-radius: 0px;
    }

    .calendar {
        grid-area: calendar;
        display: grid;
        // height: 100%;
        // width: 100%;
        height: fit-content;
        width: fit-content; 
        // border-radius: 30px;
        // padding: 20px;
        position: relative;
        overflow: hidden;
        transform: scale(1.5);
        padding: 10px; 
    }
}






/*------------ CONTENTS ----------------*/ 

/* ---- CALENDAR -----*/ 

:root {

    --light-body: #f3f8fe;
    --light-main: #fdfdfd;
    --light-second: #c3c2c8;
    --light-hover: #edf0f5;
    --light-text: #151426;

    --green: #489668;
    --white: #fff;

    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

.calendar {
    grid-area: calendar;
    display: grid;
    // height: 100%;
    // width: 100%;
    height: fit-content;
    width: fit-content; 
    // border-radius: 30px;
    // padding: 20px;
    position: relative;
    overflow: hidden;
    transform: scale(1);
    padding: 10px; 
}

.calendar-header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    font-size: 24px;
    font-weight: 600;

}

// .calendar-body {
//     padding: 10px;
// }

.calendar-week-day {
    height: 50px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-weight: 600;
}

.calendar-week-day div {
    display: grid;
    place-items: center;
    color: var(--bg-second);
}

.calendar-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    // gap: 2px;
    color: var(--color-txt);
}

.calendar-days div {
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    animation: to-top 1s forwards;
    border-radius: 50%;
}

.calendar-days div span {
    position: absolute;
}

.calendar-days div:hover span {
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
    width: 2px;
    height: 0;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
    height: 100%;
}

.calendar-days div span:nth-child(1) {
    bottom: 0;
    left: 0;
}

.calendar-days div span:nth-child(3) {
    top: 0;
    right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
    width: 0;
    height: 2px;
    background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
    width: 100%;
}

.calendar-days div span:nth-child(2) {
    top: 0;
    left: 0;
}

.calendar-days div span:nth-child(4) {
    bottom: 0;
    right: 0;
}

.calendar-days div:hover span:nth-child(2) {
    transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
    transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
    transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
    background-color: var(--green);
    color: var(--white);
    // border-radius: 50%;
}

.calendar-days div.curr-date span {
    display: none;
}

.month-picker {
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
    background-color: white; 
}

.month-picker:hover {
    background-color: white; 
}

.year-picker {
    display: flex;
    align-items: center;
}

.year-change {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin: 0 10px;
    cursor: pointer;
}

.year-change:hover {
    background-color: var(--color-hover);
}

.calendar-footer {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



.month-list {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #fdfdfd;
    padding: 20px;
    grid-template-columns: repeat(3, auto);
    gap: 5px;
    display: grid;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
    transition: all 0.1s ease-in-out;
}

.month-list > div {
    display: grid;
    place-items: center;
}

.month-list > div > div {
    width: 100%;
    padding: 5px 20px;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    color: var(--color-txt);
}

.month-list > div > div:hover {
    background-color: $green;
}

@keyframes to-top {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


/* WELCOME */ 

#welcome{
    // border: solid 1px #f5f5f5; 
    grid-area: tips; 
    box-sizing: border-box;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
}

#welcome .welcome-container {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
}


#welcome .quote {
    font-size: 18px; 
    color: grey; 

}

/* MONTHLY BUDGET */ 

#monthly-budget{
    border: solid 1px $dark-green;  
    grid-area: monthly-budget;
    box-sizing: border-box;
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;

}

#monthly-budget div {
    font-size: 24px; 
    display: inline; 
    display: inline-block;
    padding: 10px;
}

#monthly-budget .monthly-budget-container {
    font-size: 12px;
    margin: 10px; 
    color: grey;

}

#monthly-budget .monthly-budget-container #spent, span.dollar {
    font-size: 48px;
    color: $dark-green;
}

#monthly-budget .monthly-budget-container .total {
    top: -3px; 
}


/* STATS */ 

.info span.dollar {
    padding-left: 10px; 
    color: white; 
}

#stats{
    grid-area: stats; 

}

.stat-container {

    margin: 0; 
    display: grid;
    grid-row: 1fr 1fr 1fr;
    gap: 15px;
    height: 100%; 
    grid-template-areas:
    "stat1"
    "stat2"
    "stat3";
}
    

.stat1 {
    grid-area: stat1;
    background-color: $light-green; 
    color: white; 
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    font-size: 24px; 

}


.stat2 {
    grid-area: stat2;
    background-color: $green; 
    color: white; 
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;

    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px; 

    font-size: 24px; 
}

.stat3 {
    grid-area: stat3;
    background-color: $dark-green; 
    color: white; 
    -moz-border-radius: 11px;
    -ms-border-radius: 11px;
    -o-border-radius: 11px;
    -webkit-border-radius: 11px;
    border-radius: 11px;
 
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 10px;

    font-size: 24px; 
}

p.output-right {
    font-size: 36px; 
}

/* headings above boxes */ 

p.headings {
    // position: relative; 
    position: absolute; 
    margin-top: -40px; 
    font-size: 24px; 
    font-weight: bold; 
} 

#monthly-budget p.headings {
    display: flex;
    justify-content: space-between;
}




  /* EXPENSES */ 

#lists{
    // border: solid 1px #f5f5f5; 
    grid-area: lists; 
    box-sizing: border-box;
    // -moz-border-radius: 11px;
    // -ms-border-radius: 11px;
    // -o-border-radius: 11px;
    // -webkit-border-radius: 11px;
    // border-radius: 11px;

}

#lists table tr {
    display:flex;
    justify-content: space-between;
    // margin: 10px 25px 0 25px; 
    margin-top: 10px;
    border-bottom: solid 1px rgb(216, 216, 216); 
}

#lists table {
    width: 100%; 
    border-collapse: collapse;
    margin: 5px; 
    // font-weight: bold;

}

#lists table th, 
#lists table td {
    padding: 0 0 15px 5px;
}

.dollar-expenses {
    padding-left: 3px; 
    font-weight: bold;
}

#lists table td.date {
    // color: rgb(179, 179, 179); 
    color: $green;
}

