/* $desktop:1200px; // xl
$laptop:1024px; // lg
$medium-laptop:992px; // 
$tablet:768px; // md
$phone: 480px; // sm */
/* COLORS */
/* -------------foundational CSS ---------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
}

.wrapper {
  width: 100%;
}

/* NAVBAR */
h2.header1 {
  color: #489668;
  font-weight: bold;
  padding-left: 30px;
}

/* DIV WRAPPER */
/* splitting the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

@media (max-width: 992px) {
  .split {
    width: 100%;
  }
}

/* controlling the left side */
.left {
  left: 0;
  background-color: white;
}

@media (max-width: 992px) {
  .left {
    display: none;
  }
}

/* controlling the right side */
.right {
  right: 0;
  background-color: #F0F0F0;
}

/* wanting the content centered vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* styling the image in the center */
.centered img {
  width: 450px;
  border-radius: 50%;
}

/* ----------------styling inputs ---------------------*/
form {
  display: block;
}

input {
  border-radius: 12px;
  border-style: none;
  margin-bottom: 19px;
  padding: 15px 325px 15px 5px;
}

@media (max-width: 992px) {
  input {
    padding-left: 10px;
    padding-right: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    border-style: none;
    margin-bottom: 19px;
    display: inline-block;
  }
}

@media (max-width: 576px) {
  input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 200px;
  }
}

label {
  float: left;
  position: relative;
  margin-bottom: 9px;
  display: block;
}

@media (max-width: 992px) {
  label {
    position: relative;
    float: left;
  }
}

@media (max-width: 375px) {
  label {
    position: relative;
  }
}

button.login-button {
  background: #489668;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 12px;
  border-style: none;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
}

div.create-account {
  margin-top: 34px;
}

/*------------------- DASHBOARD ---------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* HEADER */
.header h1 {
  font-size: 24px;
  color: #489668;
}

.header h1.page {
  color: black;
}

.header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0 20px 0;
}

/* DASHBOARD CONTAINER */
.dashboard-container {
  position: fixed;
  display: -ms-grid;
  display: grid;
  height: 96vh;
  gap: 55px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: autofill;
      grid-template-rows: autofill;
  -ms-grid-rows: 70px 0.25fr 0.25fr 0.25fr 0.25fr;
      grid-template-rows: 70px 0.25fr 0.25fr 0.25fr 0.25fr;
      grid-template-areas: "header header header" "calendar monthly-budget tips" "calendar lists lists" "stats lists lists" "stats lists lists";
  margin: 0px 40px 0px 105px;
}

/* SIDEBAR */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  padding: 20px 0;
  font-size: 18px;
}

i {
  padding: 10px 0;
}

a {
  color: white;
  text-decoration: none;
  border: none;
}

.create-account a {
  color: #4485da;
}

.sidebar {
  background: #489668;
  height: 100%;
  width: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: white;
  font-size: 24px;
  position: fixed;
  margin: 0;
}

/*------------ CONTENTS ----------------*/
/* ---- CALENDAR -----*/
.calendar {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: calendar;
  display: -ms-grid;
  display: grid;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 30px;
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  padding: 10px;
}

.calendar-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 24px;
  font-weight: 600;
}

.calendar-week-day {
  height: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  font-weight: 600;
}

.calendar-week-day div {
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: var(--bg-second);
}

.calendar-days {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[7];
      grid-template-columns: repeat(7, 1fr);
  color: var(--color-txt);
}

.calendar-days div {
  width: 50px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  -webkit-animation: to-top 1s forwards;
          animation: to-top 1s forwards;
  border-radius: 50%;
}

.calendar-days div span {
  position: absolute;
}

.calendar-days div:hover span {
  -webkit-transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.calendar-days div span:nth-child(1),
.calendar-days div span:nth-child(3) {
  width: 2px;
  height: 0;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(1),
.calendar-days div:hover span:nth-child(3) {
  height: 100%;
}

.calendar-days div span:nth-child(1) {
  bottom: 0;
  left: 0;
}

.calendar-days div span:nth-child(3) {
  top: 0;
  right: 0;
}

.calendar-days div span:nth-child(2),
.calendar-days div span:nth-child(4) {
  width: 0;
  height: 2px;
  background-color: var(--color-txt);
}

.calendar-days div:hover span:nth-child(2),
.calendar-days div:hover span:nth-child(4) {
  width: 100%;
}

.calendar-days div span:nth-child(2) {
  top: 0;
  left: 0;
}

.calendar-days div span:nth-child(4) {
  bottom: 0;
  right: 0;
}

.calendar-days div:hover span:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.calendar-days div:hover span:nth-child(3) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.calendar-days div:hover span:nth-child(4) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.calendar-days div.curr-date,
.calendar-days div.curr-date:hover {
  background-color: var(--blue);
  color: var(--white);
  border-radius: 50%;
}

.calendar-days div.curr-date span {
  display: none;
}

.month-picker {
  padding: 5px 10px;
  border-radius: 10px;
  cursor: pointer;
  background-color: white;
}

.month-picker:hover {
  background-color: white;
}

.year-picker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.year-change {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  margin: 0 10px;
  cursor: pointer;
}

.year-change:hover {
  background-color: var(--color-hover);
}

.calendar-footer {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.month-list {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--bg-main);
  padding: 20px;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  gap: 5px;
  display: -ms-grid;
  display: grid;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  visibility: hidden;
  pointer-events: none;
}

.month-list.show {
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
  pointer-events: visible;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.month-list > div {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.month-list > div > div {
  width: 100%;
  padding: 5px 20px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  color: var(--color-txt);
}

.month-list > div > div:hover {
  background-color: var(--color-hover);
}

@-webkit-keyframes to-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes to-top {
  0% {
    -webkit-transform: translateY(100%);
            transform: translateY(100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

/* WELCOME */
#welcome {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: tips;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
}

#welcome .welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
}

#welcome img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 130px;
  border-radius: 50%;
  padding: 15px;
}

#welcome .quote {
  font-size: 18px;
  color: grey;
}

/* MONTHLY BUDGET */
#monthly-budget {
  border: solid 1px #186B3A;
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: monthly-budget;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
}

#monthly-budget div {
  font-size: 24px;
  display: inline;
  display: inline-block;
  padding: 10px;
}

#monthly-budget .monthly-budget-container {
  font-size: 12px;
  margin: 10px;
  color: grey;
}

#monthly-budget .monthly-budget-container #spent, span.dollar {
  font-size: 48px;
  color: #186B3A;
}

#monthly-budget .monthly-budget-container .total {
  top: -3px;
}

/* STATS */
.info span.dollar {
  padding-left: 10px;
  color: white;
}

#stats {
  -ms-grid-row: 4;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: stats;
}

.stat-container {
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  gap: 15px;
  height: 100%;
      grid-template-areas: "stat1" "stat2" "stat3";
}

.stat1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stat1;
  background-color: #65D292;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

.stat2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stat2;
  background-color: #489668;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

.stat3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stat3;
  background-color: #186B3A;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

p.output-right {
  font-size: 36px;
}

/* headings above boxes */
p.headings {
  position: absolute;
  margin-top: -40px;
  font-size: 24px;
  font-weight: bold;
}

/* EXPENSES */
#lists {
  -ms-grid-row: 3;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: lists;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#lists table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
  border-bottom: solid 1px #d8d8d8;
}

#lists table {
  width: 100%;
  border-collapse: collapse;
  margin: 5px;
}

#lists table th,
#lists table td {
  padding: 0 0 15px 5px;
}

.dollar-expenses {
  padding-left: 3px;
  font-weight: bold;
}

#lists table td.date {
  color: #489668;
}
/*# sourceMappingURL=style.css.map */