/* $desktop:1200px; // xl
$laptop:1024px; // lg
$medium-laptop:992px; // 
$tablet:768px; // md
$phone: 480px; // sm */
/* COLORS */
/* -------------foundational CSS ---------------- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.wrapper {
  width: 100%;
}

/* NAVBAR */
h2.header1 {
  color: #85B699;
  font-weight: bold;
  padding-left: 30px;
}

/* DIV WRAPPER */
/* splitting the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

@media (max-width: 992px) {
  .split {
    width: 100%;
  }
}

/* controlling the left side */
.left {
  left: 0;
  background-color: white;
}

@media (max-width: 992px) {
  .left {
    display: none;
  }
}

/* controlling the right side */
.right {
  right: 0;
  background-color: #F0F0F0;
}

/* wanting the content centered vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
}

/* styling the image in the center */
.centered img {
  width: 450px;
  border-radius: 50%;
}

/* ----------------styling inputs ---------------------*/
form {
  display: block;
}

input {
  border-radius: 12px;
  border-style: none;
  margin-bottom: 19px;
  padding: 15px 325px 15px 5px;
}

@media (max-width: 992px) {
  input {
    padding-left: 10px;
    padding-right: 400px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 12px;
    border-style: none;
    margin-bottom: 19px;
    display: inline-block;
  }
}

@media (max-width: 576px) {
  input {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 200px;
  }
}

label {
  float: left;
  position: relative;
  margin-bottom: 9px;
  display: block;
}

@media (max-width: 992px) {
  label {
    position: relative;
    float: left;
  }
}

@media (max-width: 375px) {
  label {
    position: relative;
  }
}

button.login-button {
  background: #85B699;
  color: white;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  border-radius: 12px;
  border-style: none;
  margin-top: 25px;
  text-align: center;
  font-size: 25px;
}

div.create-account {
  margin-top: 34px;
}

/*------------------- DASHBOARD ---------------------*/
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: -ms-grid;
  display: grid;
  height: 80vh;
  gap: 55px;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-columns: autofill;
      grid-template-columns: autofill;
  -ms-grid-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
      grid-template-rows: 0.25fr 0.25fr 0.25fr 0.25fr;
      grid-template-areas: "monthly-budget expenses tips" "monthly-budget calendar calendar" "stats calendar calendar" "stats calendar calendar";
  margin: 34;
}

/* HEADER */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.links li {
  display: inline-block;
  padding: 0 5px 0 50px;
  font-size: 18px;
}

i {
  padding: 0 20px 0 0;
}

a {
  color: white;
  text-decoration: none;
  border: none;
}

header {
  background: #85B699;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: baseline;
      -ms-flex-pack: baseline;
          justify-content: baseline;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 66px;
  margin-bottom: 55px;
  color: white;
  font-size: 24px;
  padding: 0 30px 0 30px;
}

/* CONTENTS */
/* MONTHLY BUDGET */
#monthly-budget {
  border: solid 1px #BABABA;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: monthly-budget;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* EXPENSES */
#expenses {
  border: solid 1px #BABABA;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: expenses;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
}

#tips {
  border: solid 1px #BABABA;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: tips;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
}

/* STATS */
span.dollar {
  padding-left: 10px;
}

#stats {
  -ms-grid-row: 3;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: stats;
  margin: 0;
  display: -ms-grid;
  display: grid;
  grid-row: 1fr 1fr 1fr;
  gap: 15px;
  height: 100%;
      grid-template-areas: "stat1" "stat2" "stat3";
}

.stat1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: stat1;
  background-color: #FF7424;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

.stat2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: stat2;
  background-color: #85B699;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

.stat3 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: stat3;
  background-color: #FAC41C;
  color: white;
  border-radius: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  font-size: 24px;
}

p.output-right {
  font-size: 36px;
}

#calendar {
  border: solid 1px #BABABA;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: calendar;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 11px;
}

/* headings above boxes */
p.headings {
  position: absolute;
  margin-top: -40px;
  font-size: 24px;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */